.shoppingcart{
    color: white;
    font-size: 30px;
}

.carrello{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    padding: 12px 10px 10px 8px;
    border-radius: 100%;
    cursor: pointer;
}

.carrello--div{
    position: relative;
}

.carrello--size{
    font-weight: 700;
    position: absolute;
    background-color: red;
    padding: 8px 10px;
    border-radius: 100%;
    top: -32px;
    left: -20px;
    color: white;
}

.home{
    font-weight: 500;
}

.home--primo-piano{
    margin: 20px;
}

.home--pp-label{
    font-size: 25px;
}

.home--pp{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.home--pp-prod{
    border-radius: 5px;
    width: 30%;
    text-align: center;
    box-shadow: 0px 3px 10px 3px rgba(128, 128, 128, 0.673);
    cursor: pointer;
}

.home--pp-princ{
    display: grid;
    margin: 10px;
}

.home--pp-title{
    font-size: 20px;
    font-weight: 700;
}

.home--pp-img{
    margin-top: 10px;
    border-radius: 5px;
    float: left;
    width:  90%;
    height:  200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home--pp-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.home--pp-label2{
    font-weight: 500;
    font-size: 20px;
}

.home--pp-icon{
    color: rgb(232, 232, 0);
    margin-bottom: 2px;
}

.home--sconti{
    margin: 20px;
    margin-top: 30px;
}

b{
    color: green;
}

.home--top{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    padding-left: 15px;
}

.home--tech{
    margin: 20px;
    margin-top: 30px;
}

img {
    pointer-events: none
  }

.top10{
    box-shadow: 0px 3px 10px 3px rgba(128, 128, 128, 0.673);
    width: 300px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: grid;
}

.top10--title{
    cursor: pointer;
    margin-top: 10px;
}

.top10--image{
    margin-top: 10px;
    border-radius: 5px;
    float: left;
    width:  150px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.top10--sconto{
    color: green;
    font-size: 20px;
}

.top10--data{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.top10--price{
    font-size: 20px;
}


.home--tech-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.laptop--card{
    box-shadow: 0px 3px 10px 3px rgba(128, 128, 128, 0.673);
    margin: 15px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.laptop--img{
    margin-top: 10px;
    border-radius: 5px;
    float: left;
    width:  50%;
    height:  200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.laptop--main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.laptop--data{
    width: 50%;
    display: grid;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
}

.laptop--rate{
    display: flex;
    align-items: center;
}

.laptop--fav{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 520px) {
    
    .home--pp-prod{
        border-radius: 5px;
        width: 100%;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 16px;
    }
    .home--pp-prod:last-child{
        margin-right: 20px;
    }

    .home--pp-img{
        width:  300px;
        height: 150px;
    }
    .home--pp-princ{
        margin: 10px;
    }
    .home--pp{
        overflow: auto;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 0px;
        background-color: white;
    }
    .home--pp::-webkit-scrollbar { 
        display: none; 
    }

    .home--top::-webkit-scrollbar{
        display: none; 
    }

    .home--tech-top{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .laptop--rate{
        display: grid;
        align-items: center;
    }
}