.added{
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.added--card{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: block;
}

.added--check{
    padding: 30px;
    font-size: 40px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: green;
    color: white;
}

.added--p{
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}