html,body{
  margin: 0;
  padding: 0;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{
  user-select: none;
  font-weight: 500;
}

.header{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  align-items: center;
}

.header--label{
  font-size: 30px;
}

.header--status{
  color: white;
  font-size: 18px;
  user-select: none;
  padding-right: 5px;
  cursor: pointer;
}

.header--log{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header--icon{
  font-size: 22px;
}

.newCard--data{
  display: flex;
}

.newCard--cvv{
  margin-left: 20px;
}

.newCard--registration{
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 20px 40px;
  border-radius: 10px;
}

.newCard--errore-label{
  margin-left: 5px;
}

.newCard--errore{
  color: red;
  margin-top: 10px;
}