html,body{
  margin: 0;
  padding: 0;
}
*{
  user-select: none;
  font-weight: 500;
}

.header{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  align-items: center;
}

.header--label{
  font-size: 30px;
}

.header--status{
  color: white;
  font-size: 18px;
  user-select: none;
  padding-right: 5px;
  cursor: pointer;
}

.header--log{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header--icon{
  font-size: 22px;
}